@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232a2e;
    --foreground: #e8f6f4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.fontStencil {
  font-family: var(--font-sirin-stencil);
}

.fontBalooBhai {
  font-family: var(--font-baloo-bhai-2);
}
